#GameOverContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%),
    url("../../assets/gameOver.png");
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  width: 100vw;
  height: 100vh;
}

#GameOver {
  color: #ff074e;
  text-align: center;
  font-size: 24px;
}

#scoreBoard {
  max-width: 450px;
  height: 650px;
  background-color: rgba(7, 7, 7, 0.671);
  margin: 20px 20px;
  outline: 4px solid goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 450px;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

thead {
  color: rgb(254, 235, 44);
  height: 40px;
  padding-bottom: 20px;
}

#tdhead {
  text-align: center;
  font-size: 22px;
}

#tdbody {
  color: white;
  text-align: center;
  font-size: 22px;
}

#returnButton {
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  animation: shimmer 1s linear infinite;
}

@keyframes shimmer {
  0% {
    color: transparent;
  }
  50% {
    color: white;
  }
  100% {
    color: transparent;
  }
}

.score-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formButton {
  color: white;
  background-color: transparent;
}

.formCloseButton {
  color: white;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.formButton:hover {
  animation: shake 1s linear infinite;
}
