.Title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  animation: shake 1s;
  transform: scale(1.2);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) scale(1.2);
  }
  25% {
    transform: translateX(25px) scale(1.2);
  }
  50% {
    transform: translateX(-25px) scale(1.2);
  }
}
