.Title {
  background-image: url(../../assets/gameOver.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%), url(../../assets/raccoons/holyRacc.png);
  background-repeat: no-repeat;
   background-position: center;
  image-rendering: pixelated;
  height: 100vh;
  width: 100vw;
  color: white;
  /* border-radius: 10%; */
  background-color: black;
}

.titleButton {
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  color: white;
}

.titleButton:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate3d(0, 0, 0) scale(1.05);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) scale(1.05);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0) scale(1.05);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0) scale(1.05);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0) scale(1.05);
  }
}
