
.tile {
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  -webkit-box-shadow: inset 0 0 2px 2px #074430;
  box-shadow: inset 0 0 2px 2px #02702c;
  background-image: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAA…McMD+/vc1/uX+whfWc6P8H0ZJMRlM9Jv5AAAAAElFTkSuQmCC';
  image-rendering: pixelated;
}

.gameBoard {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center;
}

.tile:last-child {
  border-right: 1px solid green;
}

.rows:last-child > .tile {
  border-bottom: 1px solid blue;
}

.raccoon {
  position: absolute;
  /* transition: margin 0.5s ease-in-out; */
  margin: 1px 1px;
  
}


#damage {
  filter: blur(5px); 
  transition: filter .1s linear;
  animation: flash 0.1s linear;
}

#death {
  /* transition: .5s linear;
  transform: rotate(-.25turn); */
  animation: fade 1.5s linear; 
}



 @keyframes fade {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-.25turn);
  }
  50% {
    opacity: 1;
    transform: rotate(-.25turn) translate(0,0);
  }
  75% {
    opacity: .5;
    transform: rotate(-.25turn) translate(50%,0);
  }
  100%{
    transform: rotate(-.25turn) translate(100%,0) ;
    opacity: 0;
    
  }
}

@keyframes flash {
  from{
    filter: brightness(100%)
  }
  to {
    filter:brightness(300%)
  }
}
 .entity:active{
  filter: blur(3px);
  transition: filter 0.1s ease;
} 




.buttonsContainerWide {
  background-color: chocolate;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
    flex-wrap: wrap;
}
.buttonsContainerTall {
  background-color: Black;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
    flex-wrap: wrap;
}

.button {
  font-size: 24px;
  border-radius: 10px;
  height:50px;
  padding: 15px 32px;
  text-align: center;
  display:flex;
  align-content: center;
    flex-wrap: wrap;
}
.button:hover {
  transition: color 1s;
  color: black;
}
/* debug overrides */

/* better show tiles */
/*
.tile {
  border-top: 1px solid purple;
  border-left: 1px solid yellow;
} 

.entity {
  v remove margin from .entity if you uncomment this v
  border: 1px solid red;
}

*/
